@use 'src/styles/index' as s;

.container {
  width: 100%;
  margin: 10vmax 0;


  // @include s.margin(top, 10rem);
  // @include s.padding(bottom, 8rem);

  & :local {

    .wrapper {

      & > header {
        display: flex;
        gap: 1.5rem;
        align-items: center;
        max-width: 80rem;
        margin: 0 auto;
        padding: 1.5rem;

        .icon {
          height: 5rem;
          width: 5rem;
          border-radius: 50%;
          //background-color: #f5b7ff;
          background-color: #FF5449;
          display: grid;
          place-items: center;
        }

        .sub {
          padding: .4rem;
          border-left: 3px solid #FF7448;
          background: linear-gradient(90deg, #FFCCBF 0%, rgba(217, 217, 217, 0.00) 100%);
          text-transform: uppercase;
          letter-spacing: .2rem;
          margin-left: .5rem;
          font-size: .8rem;

          @include s.media-breakpoint-up(md) {
            padding: .6rem .5rem;
            font-size: .8rem;
          }
        }

        .title {
          line-height: 97%;
          // make the color fill of the title gradient

          br {
            display: none;
          }

          @include s.media-breakpoint-up(md) {
            br {
              display: block;
            }
          }

          @include s.media-breakpoint-down(md) {
            font-size: 2.5rem;
          }
        }

        .nav {
          margin-left: auto;
          scale: 1.2;
        }
      }

      .swiper {
        position: relative;
        margin-top: 5rem;
        //overflow-x: visible;

        //border: 3px solid #000;

        & > :first-child{
          // this is the slider-wrapper

          //border: 1px solid yellow;
        }

        @include s.media-breakpoint-up(md) {
          padding: 1rem;
        }


        .spacer {
          width: calc((100vw - 80rem) / 2);
          //border: 1px solid #000;
        }

        .slide {
          position: relative;
          width: max-content !important;
          //height: 100% !important;
          //height: max-content !important;
          //align-self: stretch;
          height: auto;
          display: grid;
          place-items: center;
          // select the first slide

          //border: 2px solid #000;


        }
      }


      .card {
        padding: 1.4rem;
        display: flex;
        gap: 2rem;
        border-radius: 1rem;
        flex-flow: column;
        place-items: center;
        background-image: linear-gradient(166deg, #ffefef, #e1e4fc);
        border: 1px solid #e1e4fc;
        width: 35rem;
        //height: 100%;
        align-self: stretch;

        //border: 1px solid #000;

        @include s.media-breakpoint-up(md) {
          padding: 2rem 1.5rem 1.5rem;
        }

        .company_card {
          flex: 1;
          padding: 1.7rem;
          display: flex;
          flex-flow: column;
          gap: 1.5rem;
          background-color: white;
          border-radius: 1rem;

          .title {
            max-width: 20ch;
            word-break: break-word;
          }

          @include s.media-breakpoint-up(md) {
            padding: 2rem;
          }

          header.card_header {
            display: flex;
            align-items: center;
            justify-content: space-between;


            .p_thumbnail {
              position: relative;
              width: 3rem;
              height: 3rem;

              img {
                object-fit: cover;
                display: block;
                border-radius: .5rem;
              }
            }

          }

          ul {
            padding-left: 0;
            display: flex;
            flex-flow: column;
            gap: .2rem;

            li {
              list-style: none;
              position: relative;
              display: flex;
              padding-left: 0;
              margin-left: 0;
              align-items: flex-start;
              gap: .5rem;

              p {
                font-weight: 300;
                font-size: 1.1rem;
              }
            }
          }
        }


      }

    }
  }
}
