@use 'src/styles/index' as s;

.container {
  width: 100%;
  margin: 10vmax 0;

  // @include s.margin(top, 10rem);
  // @include s.padding(bottom, 8rem);

  & :local {

    .wrapper {
      max-width: max-content;
      margin: 0 auto;
      //border: 1px solid #000;

      & > header {
        display: flex;
        gap: 1.5rem;
        align-items: center;

        .icon{
          height: 6rem;
          width: 6rem;
          border-radius: 50%;
          background-color: #FF5449;
          display: grid;
          place-items: center;
        }

        .sub {
          padding: .6rem .5rem;
          border-left: 3px solid #FF7448;
          background: linear-gradient(90deg, #FFCCBF 0%, rgba(217, 217, 217, 0.00) 100%);
          text-transform: uppercase;
          letter-spacing: .2rem;
          margin-left: .5rem;
        }

        .title {
          line-height: 97%;
        }
      }

      .content {
        display: flex;
        //border: 1px solid #000;
        align-items: center;
        justify-content: space-between;
        gap: 3rem;
        padding: 7rem 10rem;
        border-radius: 1rem;
        background-color: #292930;
        max-width: max-content;
        margin-top: 5rem;


        .thumbnail {
          border-radius: 1rem;
          background-image: linear-gradient(136deg, #5956e8, #5956e8 28%, #ffda57 76%, #ffda57);
          padding: 4rem;

          img {
            display: block;
            border-radius: 1rem;
          }
        }
      }

      ul.projects {
        max-width: 35rem;
        list-style: none;
        padding-left: 0;
        display: flex;
        flex-flow: column;
        gap: 3rem;
        width: 100%;
        //border: 1px solid #000;

        li.project_card {
          position: relative;
          width: 100%;
          display: flex;
          flex-flow: column;
          padding: 2rem;
          border: 1px solid #5E5E62;
          border-radius: 1.1rem;
          background-color: #383840;
          box-shadow: 6px 6px 13px 0 rgba(0, 0, 0, 0.25);
          color: white;
          cursor: pointer;
          overflow: hidden;


          header {
            position: relative;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            gap: 3rem;
            width: 100%;
            //border: 1px solid #000;

            .icon_btn {
              position: relative;


              &.active {
                .icon{
                  background-color: rgb(89, 86, 232);
                  transform: rotate(0deg);
                }
              }

              .icon {
                background-color: #262626;
                position: relative;
                height: 3rem;
                width: 3rem;
                border-radius: 50%;
                display: grid;
                place-items: center;
                transform: rotate(-90deg);
                transition: background-color .3s ease-in-out, transform .3s ease-in-out;

                &::after {
                  content: '';
                  position: absolute;
                  height: 1rem;
                  width: 1rem;
                  margin-top: .5rem;
                  display: block;
                  background-color: white;
                  clip-path: path("M9.0599 9.05989C8.77865 9.34079 8.3974 9.49857 7.9999 9.49857C7.6024 9.49857 7.22115 9.34079 6.9399 9.05989L1.2819 3.40389C1.00064 3.12249 0.84268 2.74089 0.842773 2.34304C0.842867 1.94518 1.00101 1.56365 1.2824 1.28239C1.56379 1.00113 1.9454 0.843168 2.34325 0.843262C2.74111 0.843356 3.12264 1.00149 3.4039 1.28289L7.9999 5.87889L12.5959 1.28289C12.8787 1.00952 13.2575 0.858143 13.6508 0.861374C14.0441 0.864605 14.4204 1.02218 14.6986 1.30016C14.9769 1.57815 15.1348 1.95429 15.1384 2.34759C15.142 2.74088 14.991 3.11986 14.7179 3.40289L9.0609 9.06089L9.0599 9.05989Z");

                }
              }
            }

            .title {
              font-family: s.$fonts-sofia-pro !important;
              font-size: 2rem;
              font-weight: 400 !important;
              margin: 0;
            }

            .sub {
              color: s.$clrs-orange;
            }


          }

          .desc {
            max-width: 40ch;
            margin-top: 1rem;
            font-size: 1.1rem;
            font-weight: 300;
            width: 100%;
            //border: 1px solid #000;
          }


        }

      }


    }
  }
}
