@use 'src/styles/index' as s;

.container{
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  margin-top: 10vmax;

  //border: 5px solid blue;

  &::after{
    content: '';
    display: block;
    z-index: -1;
    inset: 0;
    top: 0;
    position: absolute;
    background-color: #292930;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    aspect-ratio: 1/1;
    scale: 1.1 1;
  }


  & :local{

    .banner{
      position: absolute;
      width: 100%;
      background: var(--banner-gradient, linear-gradient(137deg, #CAF8D9 3.27%, #429488 100%));
      padding: 6rem;
      border-radius: 1.5rem;
      max-width: 60rem;
      margin: 1.7% auto 0;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
      justify-content: space-between;

      & > :first-child{
        //font-size: 2.1rem;
        line-height: 140%;
        font-family: s.$fonts-sofia-pro !important;
        font-weight: 600 !important;
      }

      button{
        font-size: 1.3rem;
      }
    }

    .wrapper{
      position: relative;
      max-width: 80rem;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      place-items: center;
      align-items: start;
      gap: 4rem;
      height: 100%;
      padding: 25vmax 0 10vmax;
      color: white;

      @include s.media-breakpoint-up(md){

      }

      //border: 1px solid red;

      & > * {
        flex: 1;
      }

      .grid{
        position: absolute;
        top: 50%;
        transform: translateY(-40%);
        opacity: .6;

        img{
          display: block;
        }
      }

      .social{
        display: flex;
        gap: 2rem;
        align-items: flex-start;

        img{
          max-width: 3rem;
        }

        h4{
          line-height: 100%;
        }

        .socials{
          display: flex;
          margin-left: -1rem;
          //gap: .5rem;
          svg{
            fill: #a9a9a9;
          }
        }

        .desc{
          max-width: 40ch;
          color: #d0d0d0;
          font-weight: 300;
          font-size: 1.1rem;
        }
      }

      .contact{
        display: flex;
        align-items: flex-start;
        //gap: .5rem;

        img{
          margin-top: .5rem;
        }

        button{
          border-radius: .5rem;
          font-size: 1.4rem;
          padding: 1rem 2rem;
        }
      }

      .pages{
        display: flex;
        gap: 1rem;
        align-items: flex-start;


      }

    }
  }
}
