@use 'src/styles/index' as s;

.container {
  position: relative;
  width: 100%;
  min-height: 100svh;
  display: grid;
  place-items: center;
  z-index: 1;

  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    left: -12%;
    //top: -5%;
    top: -10rem;
    border-radius: 500px;
    opacity: 0.5;
    background: linear-gradient(135deg, #7DFFA8 3.27%, #0D6558 100%);
    filter: blur(100px);
    width: 49.125rem;
    height: 49.125rem;
    flex-shrink: 0;
    z-index: -1;

    @include s.media-breakpoint-up(1450px){
      top: -5%;
    }
  }

  &::after {
    content: '';
    position: absolute;
    right: -22%;
    //top: -10%;
    border-radius: 500px;
    opacity: 0.5;
    background: linear-gradient(135deg, #7DFFA8 3.27%, #0D6558 100%);
    filter: blur(100px);
    width: 49.125rem;
    height: 49.125rem;
    flex-shrink: 0;
    z-index: -1;
    background: var(--banner-gradient, linear-gradient(137deg, #CAF8D9 3.27%, #429488 100%));
    filter: blur(100px);
  }

  & :local {


    .bottom_overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      pointer-events: none;

      img {
        display: block;
        width: 100%;
      }
    }

    .gradient_overlay {
      position: absolute;
      top: -10%;
      left: 8%;
      right: 0;
      max-width: 80%;
      z-index: -1;
      pointer-events: none;

    }

    .decor_shape_1, .decor_shape_2 {
      position: absolute;
      pointer-events: none;
    }

    .decor_shape_1 {
      left: 3%;
      top: 0;

      @include s.media-breakpoint-up(md) {
        left: 3%;
        top: 20%;
      }
    }

    .decor_shape_2 {
      right: -2rem;
      top: 8rem;

      @include s.media-breakpoint-up(md) {
        right: 10%;
      }
    }

    .wrapper {
      position: relative;
      margin: 0 auto;
      width: 100%;
      display: grid;
      gap: s.fluid-size(4rem);
      grid-template-columns: 1fr;
      justify-content: space-between;
      align-items: center;
      padding: 10vmax 1.5rem;

      //border: 1px solid #000;

      @include s.media-breakpoint-up(sm) {
        max-width: 95rem;
      }

      @include s.media-breakpoint-up(md) {
        max-width: 80%;
        grid-template-columns: 1fr 1fr;
        gap: 0;
        padding: 1.5rem;
        //border: 1px solid #000;

      }

      @include s.media-breakpoint-up(xxl) {
        max-width: 90rem;
        padding: 0;
      }


      .typo {
        display: flex;
        flex-flow: column;
        gap: 2rem;

        //border: 1px solid #000;

        @include s.media-breakpoint-up(sm) {
          //grid-area: 1/1/2/2;
        }

        .big_txt {
          font-family: s.$fonts-poppins !important;
          font-weight: 900;
          color: #454545;
          font-size: 3.3rem;
          width: max-content;
          letter-spacing: -.04rem;


          @include s.media-breakpoint-up(lg) {
            font-size: 4.3rem;
            word-spacing: .3rem;
            //letter-spacing: -.07rem;

          }

          span {
            display: inline-block;
          }

          .mid {
            display: inline-flex;
            align-items: center;
            position: relative;

            .swash {
              position: absolute;
              //bottom: -47%;
              bottom: -2.5rem;
              pointer-events: none;
              max-width: 23rem;
            }
          }
        }

        .desc {
          max-width: 43ch;
          font-size: 1.4rem;
          color: s.$clrs-grey-txt;
          font-weight: 400;
        }

        .cta {
          display: flex;
          gap: 2rem;
          align-items: center;
          margin-top: 1rem;

        }
      }

      .fasraf_triangle {
        justify-self: end;
        max-width: 90%;
        margin: 0 auto;
        grid-area: 1/1/2/2;

        //border: 1px solid #000;


        @include s.media-breakpoint-up(md) {
          max-width: 85%;
          grid-area: initial;
          margin-left: auto;
          margin-right: 0;
        }

        //border: 1px solid #000;

        img {
          display: block;
        }
      }

    }
  }
}


.fas_btn {
  box-shadow: 6px 6px rgba(241, 102, 51, 0.2);
  transition: transform;

  &:hover {
    transform: translateY(-6px);
    box-shadow: 8px 8px rgba(241, 102, 51, 0.2);

  }
}

